.create {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.heroes {
 display: flex;
 flex-direction: column;
 grid-column: 1/4;
 grid-row: 2/4
}
.portait {
  border: 3px solid black;
  height: 56px;
  width: 56px;
}

.heroes1 {
 display: flex;
 flex-direction: column;
 grid-column: 1/4;
 grid-row: 5/7
}

.portait1 {
  border: 3px solid black;
  height: 56px;
  width: 56px;
}

.heroes2 {
 display: flex;
 flex-direction: column;
 grid-column: 1/4;
 grid-row: 8/10
}

.portait2 {
  border: 3px solid black;
  height: 56px;
  width: 56px;
}
