.load {
  display: flex;
  flex-direction: column;
}

.name {
  text-align: center;
}

.gear {
  display: flex;
  justify-content: space-between;
}

.armor {
  display: flex;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
}
.skill-point {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
}
.points {
  text-align: center;
}

.update {
 align-self: center;
}

.update button {
  width: 100px;
}
